/* Variables */
:root {
    /* Font */
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Colors */
    --bg-primary: #0e1411;
    --bg-primary-hover: #1f4932;
    --bg-secondary: #131a16;
    --bg-secondary-hover: #1a3627;
    --bg-tertiary: #1e3b2b;
    --color-primary: #53b888;
    --color-secondary: #96d6b3;
    --color-tertiary: #2d7a4f;
    --color-main: #daf5e9;
    --color-border: #2d4a3a;
    /* Effects */
    --transition: 0.2s ease;
    --blur-3: blur(15px);
    --blur-2: blur(10px);
    --blur-1: blur(5px);
    /* Spacing */
    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 1.5rem;
    --padding-sm: 0.5rem 1rem;
    --padding-md: 1rem 1.5rem;
    --padding-lg: 1.5rem 2.25rem;
    /* Borders */
    --radius-sm: 8px;
    --radius-md: 10px;
    --radius-lg: 12px;
    --border-sm: 1px solid var(--color-border);
    --border-md: 2px solid var(--color-border);
    --border-lg: 3px solid var(--color-primary);
}

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--bg-primary);
    font: 1rem/1.5 var(--font-family);
    color: var(--color-main);
    scroll-behavior: smooth;
}

header, nav, aside, footer { user-select: none; }

ul { list-style: none; }

:any-link {
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primary);
}
:any-link:hover { text-decoration: underline; }

.contents-list, figure, .note, #favorites-list, #login-form, .profile-list {
    border-radius: var(--radius-md);
    border: var(--border-sm);
    padding: var(--padding-md);
}

.contents-list, figure, #login-form, .profile-list { background-color: var(--bg-secondary); }

.quote, .note { background-color: var(--bg-tertiary); }

p, .quote, .note { text-align: justify; }

/* Layout */
header {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    border-bottom: var(--border-sm);
    backdrop-filter: var(--blur-3);
    padding: var(--padding-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    border-bottom: var(--border-sm);
    background-color: var(--bg-secondary);
    padding: var(--padding-sm);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

main { padding: 5vh 20vw; }
main > * { margin-bottom: var(--margin-md); }
main > *:last-child { margin-bottom: 0; }

footer {
    border-top: var(--border-sm);
    background-color: var(--bg-secondary);
    padding: 5vh 5vw;
}

/* Especific Elements */
#logo { display: flex; }

.functions {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#logout-btn, .menu-btn {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-weight: 600;
    line-height: 1;
    color: var(--color-main);
    cursor: pointer;
}

#logout-btn {
    font-size: 1.2rem;
    display: none;
}
#logout-btn:hover { text-decoration: underline; }

.menu-btn { font-size: 1.6rem; }

#menu {
    position: fixed;
    top: 0;
    right: -30vw;
    z-index: 4;
    width: 30vw;
    height: 100%;
    border-left: var(--border-sm);
    background-color: var(--bg-secondary);
    padding: var(--padding-lg);
    transition: var(--transition);
}
#menu.active { right: 0; }

#menu div {
    border-bottom: var(--border-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu .menu-btn { font-size: 2.5rem; }

#menu a {
    border-bottom: var(--border-sm);
    padding: var(--padding-sm);
    color: var(--color-secondary);
    display: block;
}

#overlay {
    position: fixed;
    inset: 0;
    z-index: 3;
    background-color: #0e1411cc;
    backdrop-filter: var(--blur-1);
    display: none;
}
#overlay.active { display: block; }

#contacts {
    margin-bottom: 2rem;
    border-bottom: var(--border-sm);
    padding: 0 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .title {
    font-weight: 600;
    font-size: 1.2rem;
}

.contact a {
    width: 100%;
    display: block;
}

.contact a, #copyright { text-align: center; }

#favorites-list > * { margin-bottom: var(--margin-sm); }
#favorites-list:last-child { margin-bottom: 0; }

#login-form, #name-field{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#login-form { margin: 0 10vw 1rem; }

#name-field { display: none; }

#login-form label {
    font-weight: 600;
    color: var(--color-secondary);
}

#login-form input {
    border-radius: var(--radius-sm);
    border: var(--border-sm);
    background-color: var(--bg-primary);
    padding: var(--padding-sm);
    font-family: inherit;
    color: var(--color-main);
}

#form-btn {
    border-radius: var(--radius-sm);
    border: var(--border-sm);
    background-color: var(--bg-tertiary);
    padding: var(--padding-sm);
    font-family: inherit;
    font-weight: 700;
    color: var(--color-primary);
    cursor: pointer;
}
#form-btn:hover {
    background: var(--bg-secondary-hover);
}

.profile-list > * { margin-bottom: 0.5rem; }
.profile-list:last-child { margin-bottom: 0; }

.profile-list > * b { color: var(--color-primary); }

/* Reusable Components */
.icon {
    font-size: 2rem;
    line-height: 1;
}

.dropdown {
    position: relative;
    min-width: 20%;
    display: inline-block;
}

.dropdown-btn {
    border-radius: var(--radius-sm);
    padding: var(--padding-sm);
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color var(--transition);
}
.dropdown-btn:hover { background-color: var(--bg-primary-hover); }

.dropdown .icon {
    width: 0;
    height: 0;
    border-top: 5px solid var(--color-secondary);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    font-size: 1.6rem;
    transition: var(--transition);
}
.dropdown[open] .icon { transform: rotate(180deg); }

.dropdown-content {
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;
    width: 100%;
    border-radius: var(--radius-md);
    border: var(--border-sm);
    background-color: var(--bg-secondary);
    padding: var(--padding-sm);
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.4);
}

.dropdown-content li { margin-bottom: var(--margin-sm); }
.dropdown-content li:last-of-type { margin-bottom: none; }

.dropdown-content a {
    display: block;
    border-radius: var(--radius-sm);
    padding: var(--padding-sm);
}
.dropdown-content a:hover { background-color: var(--bg-secondary-hover); }

.contents-list h2 {
    margin-bottom: var(--margin-sm);
    border-bottom: var(--border-md);
    padding: 0 0 0.5rem 0.5rem;
}

.contents-list ol {
    padding-left: 1rem;
    list-style-type: none;
    counter-reset: content;
}

.contents-list li::before {
    font-weight: 700;
    color: var(--color-secondary);
    content: counters(content, ".") ". ";
    counter-increment: content;
}

.contents-list a { line-height: 1.8; }

figure {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 0.8rem;
    line-height: 1;
    text-align: center;
    color: var(--color-secondary);
}
figure > * { margin-bottom: var(--margin-sm); }
figure > *:last-child { margin-bottom: 0; }

.img-title, figcaption::before { font-weight: 600; }

figcaption::before { content: "Fonte: "; }

.img-container {
    width: 100%;
    border-radius: var(--radius-sm);
    border: var(--border-sm);
    background-color: var(--bg-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}

figure img {
    width: 100%;
    height: auto;
    border-radius: inherit;
    object-fit: cover;
}

.quote {
    border-left: var(--border-lg);
    padding: var(--padding-md);
}

.quote .text {
    margin-bottom: var(--margin-md);
    font-style: italic;
}
.quote .text::before, .quote .text::after { content: "\""; }

.quote .author {
    font-weight: 600;
    color: var(--color-secondary);
}

ul.list {
    padding-left: 2rem;
    list-style: disc;
}

.references ul {
    padding: 0;
    list-style: none;
}

.references li { padding-bottom: 0.25rem; }
.references li:last-of-type { padding-bottom: 0; }

.references a { color: var(--color-main); }
.references a::before { content: "<"; }
.references a::after { content: ">"; }

hr {
    margin: 0 0 inherit;
    border: var(--border-sm);
}
.fav-card a {
    border-radius: var(--radius-sm);
    padding: var(--padding-sm);
    display: block;
}
.fav-card a:hover { background-color: var(--bg-secondary-hover); }

/* Typography */
h1, h2, h3, h4, h5 {
    margin: 0 0 initial 0;
    font-weight: 600;
}
h1 {
    font-size: 1.6rem;
    color: var(--color-primary);
}

h2 {
    font-size: 1.4rem;
    color: var(--color-secondary);
}

h3 {
    margin-bottom: 0.8rem;
    border-bottom: var(--border-sm);
    padding-bottom: 0.2rem;
    font-size: 1.2rem;
    color: var(--color-tertiary);
}

h5 {
    font-size: 0.8rem;
    line-height: 1;
    color: var(--color-tertiary);
}

b { font-weight: 600; }

/* Media Queries */
@media (max-width: 1024px) {
    main { padding: 5vh 5vw; }
    
    #menu {
        right: -55vw;
        width: 55vw;
    }

    .dropdown { min-width: 30%; }

    #contacts { display: block; }

    .contact { margin-bottom: 1rem; }
    .contact:last-of-type { margin-bottom: 0; }

    .contact a { width: fit-content; }
}